<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to lists_path, class: "navbar-brand" do %>
    <%= image_tag "https://i1.sndcdn.com/avatars-YMZvHyxWoLl3AzFg-Ug2F0Q-t240x240.jpg"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "My lists", lists_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New list", new_list_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>)">
  <div class="float-right"> <span style="position: relative; top: -140px; left: -10px;" class="p-2 badge badge-warning"><%= @list.bookmarks.count %> movies</span></div>
  <div class="text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container mb-5">
  <div class="d-flex justify-content-between">
    <h2>My movies</h2>
    <%= link_to "Add a movie", "#movieForm", { class: "btn btn-flat mb-3", 'data-toggle': "modal", 'data-target': "#movieForm" }  %>
  </div>

  <div class="modal fade" id="movieForm" tabindex="-1" role="dialog" aria-labelledby="movieForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movieForm">Add a Movie to your list!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'bookmarks_form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <div class="cards my-4 mb-5">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
          <img src="<%= bookmark.movie.poster_url %>" />
          <div class="card-trip-infos flex-column align-items-stretch justify-content-end">
            <div class="d-inline-block ">
              <h2><%= bookmark.movie.title %> - <%= bookmark.movie.rating %> ⭐️</h2>
              <p><%= bookmark.movie.overview %></p>
            </div>
            <div class="d-block pt-3">
              <div class="d-flex justify-content-between">
              <div> ❝<%= bookmark.comment  %></div>
              <%= link_to "🗑", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }%>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <hr/>
<div class="my-5 d-flex justify-content-between">
  <div class="card w-75 h-25" style="background-color: #F4F4F4; border: none">
  <h3><strong>Reviews</strong></h3>
  <% @list.reviews.each do |review| %>
  <div class="card-body pl-0">
    <p><%= review.rating %></p>
    <p><%= review.comment %></p>
    <hr class="m-0" style="position:relative; top: 1.25rem"/>
  </div>
  <% end %>
  </div>
  <div class="float-right">
  <%= render 'review_form' %>
  </div>
</div>
